@import '../common/styles/flexContainer.module.scss';

.container {
  @extend %flex-container;
  max-width: 595px;
  width: 100%;

  padding: 10px 20px 30px;
  margin-top: 80px;
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 33px;
  font-weight: 900;

  color: white;
  text-transform: uppercase;
}

.createHeader {
  font-size: 40px;
}

.subInfo {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;

  margin: 13px 5rem;
}

.infoContainer {
  margin-bottom: 18px;
  font-family: sans-serif;
}

.changeFormButton {
  position: absolute;
  right: 40rem;
  top: 7rem;
  padding: 1rem;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
}
